1. What are data structures, and why are they important?

Ans. A data structure is a way of organizing, storing, and managing data to perform operations efficiently. It defines how different operations (like accessing, searching, inserting, or deleting data) can be performed on it.
It is important because of the scability, data management, code reusability and optimized performance

2. Explain the difference between mutable and immutable data types with examples

Ans. Mutable data types- List, Set and Dict are the types of mutable data types as it can be changed or modified and are stored in heap memory.

Immutable data types- String and Tuples are the types of immutable data types as it can't be changed or modified and are stored in stack memory.

3. What are the main differences between lists and tuples in Python

Ans. Difference between lists and tuples:
a. List is mutable data type while Tuples are immutable data types
b. List can be modified whereas Tuples can't be modified
c. List are slower compared to Tuples
d. List syntax:- lis[] and Tuple Syntax:- Tup()

4. Describe how dictionaries store data

Ans. Dictionaries store data in key value pair.
ex:- dic{"name":"anupam","age":25}

5. Why might you use a set instead of a list in Python

Ans.Set is used instead of list as set stores unordered collection of unique elements. Also, set operation are faster than list.

6. What is a string in Python, and how is it different from a list

Ans. String is a sequence of characters and list is a collection of different data types as int, float ,string etc.
ex:- String :- "Anupam Kumar"
List :- [1,2,"Anupam",3.4,5+8j,True]

7. How do tuples ensure data integrity in Python

Ans. Tuples cannot be changed or modified, hence ensures data integrity.
ex:- Employee_id=(2496,4357,5679)

8. What is a hash table, and how does it relate to dictionaries in Python

Ans. A hash table is a data structure that stores key-value pairs and allows fast lookups, insertions, and deletions. It works by using a hash function to compute an index where the key-value pair is stored in memory.

9. Can lists contain different data types in Python

Ans. Yes, list can contain integer, float, list, string, tuple etc

 10. Explain why strings are immutable in Python

 Ans. Strings are immutable as it can't be modified and python creates a new string instead of modifying the original string

11. What advantages do dictionaries offer over lists for certain tasks

Ans. Dict offers Faster lookups 0(1)-constant time as they use hash tables whereas List offers 0(n) linear time search as element is searched one by one

Dict doesn't requires manual indexing as it stores data in form of key-value pair

12. Describe a scenario where using a tuple would be preferable over a list

Ans. As Tuple is immutable, it can be used to store the collection of unchanged data over list as AAdhar Number or Employee ID.
Also, collection of fixed configuration or coordinates of place will require Tuple instead of List

13. How do sets handle duplicate values in Python

Ans. Duplicate values are removed automatically in set as set is an unordered collection of unique elements.

14. How does the “in” keyword work differently for lists and dictionaries

Ans. The "in" keyword is used as membership operator in Python.
In list it is used to check the existence of element one by one whereas in Dictonaries it checks only the keys and not the values.

15. Can you modify the elements of a tuple? Explain why or why not

Ans. No we can't modify the elements of a tuple as Tuple is immutable

16. What is a nested dictionary, and give an example of its use case

Ans. A nested dictionary is a dictionary inside another dictionary. It store structured data in a hierarchical format.

ex:- students = {
    "101": {"name": "Anupam", "age": 27, "grades": {"math": 90, "science": 97}},
    "102": {"name": "Rupam", "age": 28, "grades": {"math": 76, "science": 98}},
}

17. Describe the time complexity of accessing elements in a dictionary

Ans. 0(1):constant time is the time complexity of accessing elements in a dictionary using hashing

18. In what situations are lists preferred over dictionaries

Ans. List is preferred whenever indexed access is preferable and list is simple as compared to dictionaries

19. Why are dictionaries considered unordered, and how does that affect data retrieval

Ans. As dictioanries are hash table based structured, so it is considered as unordered. Although, after Python 3.7 dictionaries maintain insertion order, but they are still considered order-independent

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. Data retrival in list is based on indexing while in dictinaries it is done using keys

In [1]:
#Practical
#1. Write a code to create a string with your name and print it

my_name = "Anupam Kumar"
print(my_name)

Anupam Kumar

In [3]:
#2. Write a code to find the length of the string "Hello World"

s= "Hello World"
len(s) #len is used to find the length of a string

11

In [8]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

s="Python Programming"
a=s[:3]
print(f"First 3 characters are {a}")

First 3 characters are Pyt

In [11]:
#4. Write a code to convert the string "hello" to uppercase

s="hello"
a=s.upper()
print(a)

HELLO

In [13]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

s="I like apple"
a=s.replace("apple","orange")
print(f"The new string is: {a}")

The new string is: I like orange

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it

lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [15]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lis = [1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [16]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lis=[1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [18]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lis=['a','b','c','d']
a=lis[1]
print(a)

b

In [19]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

lis = [10, 20, 30, 40, 50]
reversed_lis = lis[::-1]
print(f"Reversed list is {reversed_lis} ")

Reversed list is [50, 40, 30, 20, 10]

In [20]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [21]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [23]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tup = (10, 20, 5, 15)
a=min(tup)
print(f"Minimum number in the tuple is: {a}")

Minimum number in the tuple is: 5

In [26]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tup=('dog', 'cat', 'rabbit')
index_of_cat = tup.index('cat')
print(index_of_cat)

1

In [31]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

tup=("apple", "orange", "kiwi")
if "kiwi" in tup:
  print("Kiwi is present")
else:
  print("Need to buy Kiwi")

Kiwi is present

In [33]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [34]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [35]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [36]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))
print (s1 | s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [37]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))
print (s1 & s2)

{2, 3}
{2, 3}

In [38]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dic = {"name":"Anupam","age":27,"city":"jamshedpur"}
print(dic)

{'name': 'Anupam', 'age': 27, 'city': 'jamshedpur'}

In [41]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dic = {'name':'John', 'age':25}
dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [44]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dic = {'name':'Alice', 'age':30}
name_value=dic['name']
print(name_value)

Alice

In [47]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
#dic.pop('age')
del dic['age']
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dic = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dic:
  print("Key is present")
else:
  print("Key is absent")

Key is present

In [50]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all

lis = [1,2,'anupam',2.5,[1,2,"anupam",3+5j],True]
tup = (1,2,'anupam',2.5,(1,2,'anupam',3+5j),True)
dic = {'name':'anupam','age':28,'city':"jamshedpur","sex":"male"}
print(lis)
print(tup)
print(dic)

[1, 2, 'anupam', 2.5, [1, 2, 'anupam', (3+5j)], True]
(1, 2, 'anupam', 2.5, (1, 2, 'anupam', (3+5j)), True)
{'name': 'anupam', 'age': 28, 'city': 'jamshedpur', 'sex': 'male'}

In [57]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

lis = [3, 76, 45, 90, 2]
lis.sort()
print(lis)

[2, 3, 45, 76, 90]

In [60]:
#28. Write a code to create a list with strings and print the element at the third index

lis=["anupam","anup","rupam","abhi","aman","kumar"]
third_index = lis[3]
print(f"The third index of the list is {third_index}")

The third index of the list is abhi

In [64]:
#29. Write a code to combine two dictionaries into one and print the result

dic1 = {"name":"anupam", "age":28}
dic2 = {"course":"DA", "duration":6}
dic1.update(dic2)
print(dic1)

{'name': 'anupam', 'age': 28, 'course': 'DA', 'duration': 6}

In [65]:
#30.  Write a code to convert a list of strings into a set


lis=["anupam","anup","rupam","abhi","aman","anupam"]
lis_set = set(lis)
print(lis_set)

{'abhi', 'rupam', 'anup', 'anupam', 'aman'}